.widgetGroupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0 25px 0 25.6px;
  cursor: pointer;
}

.widgetGroupHeader .groupName {
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.widgetGroupHeader .groupName img {
  margin-right: 16.8px;
}

.widgetGroupHeader .groupName.allChecked {
  color: #00b797;
}

.widgetGroupHeader .visibility {
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

.widgetGroupHeader .visibility i {
  color: #999999;
  margin-left: 9px;
}
