.widgetGroupContent {
  padding: 12px 16px;
  text-align: left;
}

.widgetGroupContent.hidden {
  display: none;
}

.widgetGroupContent .task {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 48px;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin: 4px 0;
  height: 52px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.widgetGroupContent .task input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 16px;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #000 !important;
  border-radius: 5px;
}

.widgetGroupContent .task input:checked ~ .checkmark {
  background-color: #00b797;
  border-radius: 5px;
  border: 1px solid transparent !important;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.widgetGroupContent .task input:checked ~ .checkmark:after {
  display: block;
}

.widgetGroupContent .task .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
}
