.widget {
  width: 820px;
  padding: 30px 20px;
  padding: 48px 16px 16px 16px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.widget .widget-header {
  margin: 0 24px;
  margin-bottom: 32px;
}

.widget .widget-header .widget-title {
  text-align: left;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 16px;
}
